html,body{
	margin: 0;
	padding: 0;
}
body{
	background: url(../images/background/night5.jpg) no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
form{
	position: fixed;
	top:50%;
	left: 37%;
}
label{
	color: white;
	vertical-align: middle;
}
#text{
	opacity: 0.2;
}
#game{
	position: fixed;
	top:0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 1s;
	z-index: -100;
}
#game.show{
	opacity: 1;
	z-index: 100;
	background: rgba(0,0,0,.7);
}
#mycanvas{
	position: fixed;
	top: 10%;
	left: 10%;
	margin: 0 auto;
	width: 80%;
	height: 80%;
	background: url(../images/background/mianma.jpg);
	background-size: 100% 100%;
}
#range{
	position: fixed;
	top: 10%;
	left: 10%;
	margin: 0 auto;
	width: 80%;
	height: 80%;
}
#dou{
	position: absolute;
	
}
#index{
	position: fixed;
	top:0;
	left: 0;
	z-index: 10000;
	background: black;
}
#index a{
	color: white;
	font-size: 1.5em;
	text-decoration: none;
}

